// About logo style
.about-logo {
  height: 200px;
}
section {
  height: 620px;
  padding: 16px 0;
  .title {
    text-align: center;
    span {
      font-size: 42px;
      color: #006a80;
      font-weight: 800;
      padding: 0 0 4px 0;
      border-bottom: 1px solid #006a80;
    }
  }
  .body {
    display: flex;
    width: 100%;
    padding: 24px;

    & > div {
      width: 50%;
    }

    &--left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 600px;

      p {
        width: 80%;
        font-size: 16px;
      }
    }

    &--right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
      .about-logo {
        height: 400px;
      }
    }
  }
}

.hackathons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  svg {
    height: 200px;
  }
  .azalea svg {
    .cls-1 {
      opacity: 0.2;
    }
    .cls-2 {
      fill: #2c2f33;
    }
    .cls-3,
    .cls-8 {
      fill: none;
    }
    .cls-3 {
      stroke: #fff;
      stroke-miterlimit: 10;
      stroke-width: 12px;
    }
    .cls-4 {
      fill: #ffbe3b;
    }
    .cls-5 {
      fill: #22b0ff;
    }
    .cls-6,
    .cls-7 {
      fill: #fff;
    }
    .cls-7 {
      font-size: 32.09px;
      font-family: Bahiana-Regular, Bahiana Regular;
    }
    .cls-9 {
      fill: #738d91;
    }
  }

  .csx svg {
    .cls-1 {
      opacity: 0.2;
    }
    .cls-2 {
      fill: #2c2f33;
    }
    .cls-3,
    .cls-5 {
      fill: none;
    }
    .cls-3 {
      stroke: #fff;
      stroke-miterlimit: 10;
      stroke-width: 12px;
    }
    .cls-4 {
      fill: #22b0ff;
    }
    .cls-6 {
      fill: #fff;
    }
    .cls-7 {
      fill: #ffbe3b;
    }
    .cls-8 {
      fill: #738d91;
    }
  }
}
