.cls-1{isolation:isolate;}.cls-2{fill:#398769;}.cls-3{fill:#66c754;}.cls-4{fill:#0271ab;}.cls-5{fill:#52284a;opacity:0.1;}.cls-5,.cls-8{mix-blend-mode:multiply;}.cls-6{fill:#fff9f2;opacity:0.15;}.cls-6,.cls-7{mix-blend-mode:overlay;}.cls-7{fill:#fff7f7;opacity:0.5;}.cls-8{fill:#492659;opacity:0.25;}.cls-9{fill:#382734;}

.earth {
    position: absolute;
    top: 20%;
    right: 30%;
    height: 200px;
}