@import "../../styles/variables";

.navbar {
  display: flex;
  height: 60px;
  -webkit-box-shadow: 1px 5px 9px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 5px 9px 1px rgba(0, 0, 0, 0.3);
  align-items: center;
  padding: 0 8px;
  justify-content: flex-end;

  ul {
    list-style-type: none;
    margin: 0 16px;
    padding: 0;
    display: flex;

    li {
      margin: 0 16px;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      border: 2px solid transparent;

      &:hover {
        cursor: pointer;
        border-color: $primary-pink;
        border-radius: 500px;
      }
    }
  }
}
