.mars-obj {
  .cls-1 {
    isolation: isolate;
  }
  .cls-2 {
    fill: #ad3f33;
  }
  .cls-3 {
    fill: #80372f;
  }
  .cls-4 {
    fill: #db4f40;
  }
  .cls-5 {
    fill: #52284a;
    opacity: 0.1;
  }
  .cls-5,
  .cls-8 {
    mix-blend-mode: multiply;
  }
  .cls-6 {
    fill: #fff9f2;
    opacity: 0.15;
  }
  .cls-6,
  .cls-7 {
    mix-blend-mode: overlay;
  }
  .cls-7 {
    fill: #fff7f7;
    opacity: 0.5;
  }
  .cls-8 {
    fill: #492659;
    opacity: 0.25;
  }
  .cls-9 {
    fill: #382734;
  }

  height: 100px;
}
