.cls-1 {
  fill: #e7c977;
}
.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  fill-rule: evenodd;
}
.cls-2 {
  fill: #d4b96f;
}
.cls-3 {
  fill: #cda75c;
}
.cls-4 {
  fill: #b59048;
}
.cls-5 {
  fill: #f6e3af;
}
.cls-6 {
  fill: #fff4d5;
}
.cls-7 {
  fill: #e5d095;
}
.cls-8 {
  fill: #e9ddba;
}
.cls-9 {
  fill: #c6b796;
}

.saturn {
  position: absolute;
  top: 50%;
  height: 100px;
  right: 50%;
}
