<section class="space-banner">
  <div class="stars">
    <app-stars></app-stars>
    <app-stars></app-stars>
  </div>
  <div class="stelallite">
    <app-satellite></app-satellite>
  </div>
  <div class="ship">
    <img src="../../../../assets/ship_2.png" alt="" />
  </div>
  <div class="venus">
    <app-venus></app-venus>
  </div>
  <div class="earth">
    <app-earth></app-earth>
  </div>
  <div class="mars">
    <app-mars></app-mars>
  </div>
  <div class="moon">
    <img src="../../../../assets/moon.png" alt="" />
  </div>
</section>
